---

---

<style is:global>
  .banner a {
    @apply text-white;
  }
</style>
<div
  class="banner bg-primary text-white w-full px-8 py-[22px] flex flex-col justify-center content-center text-center text-base md:text-lg font-normal"
>
  <slot />
</div>
